@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <div class="text-left">
        <h1 class=display-4>Medžiagų mokslas</h1>

        <h6>Forma: rasti medžiagos varžą pagal nurodytą medžiagos id, min-max temperatūrą ir išmatavimus</h6>
        <form action="/" method="post">
            @{
                Model.list = await Model.GetDropdownMaterialsAsync();
                <select>
                    @foreach (var item in Model.list)
                    {

                        <option value="@item.MaterialId">@item.MaterialName</option>
                    }
                </select>
            }
        </form>

        <h6>Forma: rasti medžiagą varžą pagal nurodytą varžą, temperatūrą ir išmatavimus</h6>
        <form action="/" method="post"></form>

    </div>
